body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://plus.unsplash.com/premium_photo-1754356022500-6284771bff1e?q=80&w=1246&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
#clock {
    display: flex;
}

#clock div {
    color: #fff;
    margin: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}
#clock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#clock .text {
    font-size: 10px;
    height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: darkblue;
    opacity: 60%;
}

#clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}